<html>
  <head>
    <title>Notes</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <meta name="msapplication-TileColor" content="#040e1d" />
    <meta name="theme-color" content="#040e1d" />
  </head>

  <body>
    <div id="app">
      <div id="main" spellcheck="false" autocomplete="nope"></div>
    </div>

    <div id="wordCount"></div>
  </body>
</html>
